<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pn Book</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>

  #list_profile_name:hover{
  color:red;
  }
</style>


  </head>
  <body>



    <!-- navbar starat -->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
       <img class="ms-2" style="width:40px;" src="{% static 'image/contacts-icon.png'%}" alt="hello">
        <a href="/" style="text-decoration:none; font-family: cursive; margin-left:5px;" ><span style="color:red; font-size:30px; font-weight:bold;">Pn</span><span style="color:#afafb5; font-size:28px; font-weight:bold;">Book</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="d-flex" role="search">
            <input class="form-control me-2" style="margin-left:90px; border:none; background-color:#f0ffff; width:350px;" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" style="border:none;" type="submit"></button>
          </form>
        </div>
      </div>
    </nav>
<!-- navbar End -->






<!-- sidebar start -->

      <div class="offcanvas-body ms-3" style="float:left; background-color:#f0ffff; height:600px; width:20%;">
        <div class="mt-4" >
          <button  style="background-color:#f0ffff; border:none;">
            <img  style="width:38px;" src="{% static 'image/contact-plush.png'%}" alt="hello">
            <span onclick="show_form()" id="create_contact_id" title="Create new contact" style="font-family: cursive; color:gray;">Create contact</span>
          </button>
          <button title="Cancel"  style="background-color:#f0ffff; float:right; color:gray; margin-right:15px; border:none;" id="form_cancel" onclick="hide_form()">
            x</button>
        </div>
        <div class="dropdown mt-4 mb-3">
          <button class="btn" style="width:50%; text-align: left;" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
            <img  style="width:24px;" src="{% static 'image/tag-icon.png'%}" alt="hello">
            <span class="ms-2" style="font-family: cursive;">Label</span>
          </button>
          <ul style="backgound-color:none; border:none;" class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Create Label</a></li>
            <li><a class="dropdown-item" href="#">Create Label</a></li>
            <li><a class="dropdown-item" href="#">Create Label</a></li>
            <li><a class="dropdown-item" href="#">Create Label</a></li>    
          </ul>
        </div>
        <div class="mb-3"><button class="btn" style="width:50%; text-align: left;" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
          <img  style="width:20px;" src="{% static 'image/import-icon.png'%}" alt="hello">
          <span class="ms-2" style="font-family: cursive;">Import</span>
        </button></div>

        <div class="mb-3"><button class="btn" style="width:50%; text-align: left;" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
          <img  style="width:20px;" src="{% static 'image/export-icon.png'%}" alt="hello">
          <span class="ms-2" style="font-family: cursive;">Export</span>
        </button></div>

        <div class="mb-3"><button class="btn" style="width:50%; text-align: left;" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
          <img  style="width:20px;" src="{% static 'image/print-icon.png'%}" alt="hello">
          <span class="ms-2" style="font-family: cursive;">Print</span>
        </button></div>

        <div class="mb-3"><button class="btn" style="width:50%; text-align: left;" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
          <img  style="width:22px;" src="{% static 'image/trash-icon.png'%}" alt="hello">
          <span class="ms-2" style="font-family: cursive;">Trash</span>
        </button></div>

      </div>
   
<!-- sidebar End -->






<!--table start -->
<div id="table_data" style="float:left; width:76%;">
  <table id="table_id" style="margin-left:17px; width:100%; ">
      <tr style="border-bottom: .1ch solid; color:gray; height:40px; border-color:#d6d6d6;">
          <td id="selected_item" ></td>
        <td colspan="2">Name</td>
        <td >Email</td>
        <td >Phone Number</td>
        <td colspan="3" align="right"><img  style="width:18px;" src="{% static 'image/option-icon.png'%}" alt="hello"></td>
      </tr>
    <tr style="height:35px;">
        <td colspan="3" style="font-size:12px; color:gray; font-family:Helvetica;" >CONTACTS (342)</td>
    </tr>

{% for profile in number_list %}
      <tr style="height:55px;">
          <td><input  type="checkbox"></td>
        <td style="width:50px;"><img style="width:35px;" src="{% static 'image/profile-icon.png'%}" alt="hello"></td>
        <td  onclick="show_profile({{profile.id}});" id="list_profile_name" > {{profile.first_name}}</td>
        <td>{{profile.email}}</td>
        <td>{{profile.phone}}</td>
        <td align="right" style="width:35px;"><img  style="width:18px;" src="{% static 'image/star-icon.png'%}" alt="hello"></td>
        <td align="right" style="width:35px;"><img  style="width:18px;" src="{% static 'image/edit-icon.png'%}" alt="hello"></td>
        <td align="right" style="width:35px;"><img  style="width:18px;" src="{% static 'image/option-icon.png'%}" alt="hello"></td>
      </tr>
      {% endfor %}
    </table>
</div>

<!--table end -->






<!--form start-->
<div  id="form_data" style="float:left; width:73%;">
    
  <table style="margin-left:70px; width:100%;">
     
    <tr style="height:60px;"> 
        <td></td>
        <td></td>
        <td style="color:#afafb5;"><button style="background-color:#ffff; border:none;" id="save_button">Save</button></td>
    </tr>

    <tr class="profile_input" style="height:60px;"> 
        <td style="width:60px;"><img style="width:35px;" src="{% static 'image/new-profile-icon.png'%}" alt="hello"></td>
        <td width="420px"><input type="text"  id="form_first_name" style="border:none;outline-style:none; width:400px;" placeholder="First Name"></td>
        <td class="input_remove_button" type="button" id="profile_input_remove_button" style="color:#afafb5;">x</td>
    </tr>
{% csrf_token %}
    <tr class="profile_input">
        <td style="width:60px;"></td>
        <td><input type="text" id="form_last_name"  style="border:none;outline-style:none; width:400px;" placeholder="Last Name"></td>
    </tr>

    <tr class="company_input" style="height:60px;"> 
        <td style="width:60px;"><img style="width:35px;" src="{% static 'image/company-icon.png'%}" alt="hello"></td>
        <td><input type="text" style="border:none; outline-style:none; width:400px;" id="form_company" placeholder="Company"></td>
        <td class="input_remove_button" type="button" id="company_input_remove_button" style="color:#afafb5;">x</td>
    </tr>

    <tr class="company_input" >
        <td style="width:60px;"></td>
        <td><input type="text" style="border:none; outline-style:none; width:400px;" id="form_title" placeholder="Job Title"></td>
    </tr>

    <tr class="email_input" style="height:60px;"> 
        <td><img style="width:35px;" src="{% static 'image/email-icon.png'%}" alt="hello"></td>
        <td><input type="Email" id="form_email" style="border:none; outline-style:none; width:400px;" placeholder="Email"></td>
        <td class="input_remove_button" type="button" id="email_input_remove_button" style="color:#afafb5;">x</td>
    </tr>

    <tr class="phone_input" style="height:60px;"> 
        <td><img style="width:35px;" src="{% static 'image/phone-icon.png'%}" alt="hello"></td>
        <td><input type="text" id="form_code" style="width:50px; border:none;" placeholder="Code">
        <input type="text"  id="form_phone" style="border:none; width:350px; outline-style:none; "   placeholder="Phone"></td>
        <td class="input_remove_button" type="button" id="phone_input_remove_button" style="color:#afafb5;">x</td>
    </tr>

    <tr class="address_input" style="height:60px;"> 
      <td ><img style="width:35px;" src="{% static 'image/address-icon.png'%}" alt="hello"></td>
      <td><input type="text" style="border:none; outline-style:none; width:400px;" id="form_address" placeholder="Address"></td>
      <td class="input_remove_button" type="button" id="address_input_remove_button" style="color:#afafb5;">x</td>
  </tr>

    <tr class="date_input" style="height:60px;"> 
        <td ><img style="width:35px;" src="{% static 'image/birthday-icon.png'%}" alt="hello"></td>
        <td><input type="text" style="border:none; outline-style:none; width:400px;" id="form_date" placeholder="Date Of Birth(mm/dd/yyyy)"></td>
        <td class="input_remove_button" type="button" id="date_input_remove_button" style="color:#afafb5;">x</td>
    </tr>


    <tr class="note_input" style="height:60px;"> 
        <td><img style="width:35px;" src="{% static 'image/note-icon.png'%}" alt="hello"></td>
        <td><input type="text" style="border:none; outline-style:none; width:400px;" id="form_note" placeholder="Note"></td>
        <td class="input_remove_button" type="button" id="note_input_remove_button" style="color:#afafb5;">x</td>
    </tr>
    
    </table>
</div>
<!--form end-->





<!--profile page start-->

<div id="profile_data" style="float:left; width:76%;">
  <table id="profile_table" style="margin-left:17px; width:100%; ">
    <tr style="border-bottom: .1ch solid; color:gray; height:170px; border-color:#d6d6d6;">
      <td>
        <div style="border: .1ch solid; border-radius: 8px; width:75%; padding:8px; border-color:#d6d6d6;">
        <img  src="{% static 'image/profile_image-icon.png'%}" alt="hello">
        <span id="profile_full_name"></span>

      </div>
      </td>
      
    </tr>

    <tr><td>
    <div style="margin-top:7px; border: .1ch solid; border-radius: 8px; width:50%; padding:10px; border-color:#d6d6d6;">
      <h5><strong>Contact details</strong></h5>

      <div id="email_section" style="height:40px;">
        <img style="width:35px; margin-right:7px;" src="{% static 'image/email-icon.png'%}" alt="hello">
        <span id="profile_email"></span>
      </div>

      <div id="phone_section" style="height:40px;">
        <img style="width:35px; margin-right:7px;" src="{% static 'image/phone-icon.png'%}" alt="hello">
        <span id="profile_phone"></span>
        </div>

      <div id="address_section" style="height:40px;">
        <img style="width:35px; margin-right:7px;" src="{% static 'image/address-icon.png'%}" alt="hello">
        <span id="profile_address"></span>
      </div>

      <div id="date_section" style="height:40px;">
        <img style="width:35px; margin-right:7px;" src="{% static 'image/birthday-icon.png'%}" alt="hello">
        <span id="profile_date"> </span>
      </div>

      <div id="note_section" style="height:40px;">
        <img style="width:35px; margin-right:7px;" src="{% static 'image/note-icon.png'%}" alt="hello">
        <span id="profile_note"></span>
      </div>

    </div>
  </td>
</tr>
    </table>
</div>


<!--profile page end-->





























    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  
    <script src="{% static 'js/form_function.js'%}"></script>
    <script src="{% static 'js/button.js'%}"></script>
    
    <script>
      

     </script>
  </body>
</html>