<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pn Book</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>



    <!-- navbar starat -->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
       <img class="ms-2" style="width:40px;" src="{% static 'image/contacts-icon.png'%}" alt="hello">
        <a href="/" style="text-decoration:none; font-family: cursive; margin-left:5px;" ><span style="color:red; font-size:30px; font-weight:bold;">Pn</span><span style="color:#afafb5; font-size:28px; font-weight:bold;">Book</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="d-flex" role="search">
            <input class="form-control me-2" style="margin-left:90px; border:none; background-color:#f0ffff; width:350px;" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" style="border:none;" type="submit"></button>
          </form>
        </div>
      </div>
    </nav>
<!-- navbar End -->






<!-- sidebar start -->

      <div class="offcanvas-body ms-3" style="float:left; background-color:#f0ffff; height:600px; width:20%;">
        <div class="mt-4" >
          <button  style="background-color:#f0ffff; border:none;">
            <img  style="width:38px;" src="{% static 'image/contact-plush.png'%}" alt="hello">
            <span onclick="show_form()" id="create_contact_id" title="Create new contact" style="font-family: cursive; color:gray;">Create contact</span>
          </button>
          <button title="Cancel"  style="background-color:#f0ffff; float:right; color:gray; margin-right:15px; border:none;" id="form_cancel" onclick="hide_form()">
            x</button>
        </div>
        <div class="dropdown mt-4 mb-3">
          <button class="btn" style="width:50%; text-align: left;" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
            <img  style="width:24px;" src="{% static 'image/tag-icon.png'%}" alt="hello">
            <span class="ms-2" style="font-family: cursive;">Label</span>
          </button>
          <ul style="backgound-color:none; border:none;" class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Create Label</a></li>
            <li><a class="dropdown-item" href="#">Create Label</a></li>
            <li><a class="dropdown-item" href="#">Create Label</a></li>
            <li><a class="dropdown-item" href="#">Create Label</a></li>    
          </ul>
        </div>
        <div class="mb-3"><button class="btn" style="width:50%; text-align: left;" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
          <img  style="width:20px;" src="{% static 'image/import-icon.png'%}" alt="hello">
          <span class="ms-2" style="font-family: cursive;">Import</span>
        </button></div>

        <div class="mb-3"><button class="btn" style="width:50%; text-align: left;" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
          <img  style="width:20px;" src="{% static 'image/export-icon.png'%}" alt="hello">
          <span class="ms-2" style="font-family: cursive;">Export</span>
        </button></div>

        <div class="mb-3"><button class="btn" style="width:50%; text-align: left;" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
          <img  style="width:20px;" src="{% static 'image/print-icon.png'%}" alt="hello">
          <span class="ms-2" style="font-family: cursive;">Print</span>
        </button></div>

        <div class="mb-3"><button class="btn" style="width:50%; text-align: left;" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
          <img  style="width:22px;" src="{% static 'image/trash-icon.png'%}" alt="hello">
          <span class="ms-2" style="font-family: cursive;">Trash</span>
        </button></div>

      </div>
   
<!-- sidebar End -->




<!--profile page start-->

<div id="profile_data" style="float:left; width:76%;">
  <table id="profile_table" style="margin-left:17px; width:100%; ">
    <tr style="border-bottom: .1ch solid; color:gray; height:40px; border-color:#d6d6d6;">
      <td><img style="width:35px;" src="{% static 'image/email-icon.png'%}" alt="hello"></td>
      
    </tr>

    <tr><td>
    <div style="border: .1ch solid; border-radius: 8px; width:50%; padding:10px; border-color:#d6d6d6;">
      <h5><strong>Contact details</strong></h5>

      <div id="email_section" style="height:40px;">
        <img style="width:35px; margin-right:7px;" src="{% static 'image/email-icon.png'%}" alt="hello">
        <span id="profile_email">kishan217.kk@gmail.com</span>
      </div>

      <div id="phone_section" style="height:40px;">
        <img style="width:35px; margin-right:7px;" src="{% static 'image/phone-icon.png'%}" alt="hello">
        <span id="profile_phone">+91 8094567915</span>
        </div>

      <div id="address_section" style="height:40px;">
        <img style="width:35px; margin-right:7px;" src="{% static 'image/address-icon.png'%}" alt="hello">
        <span id="profile_address">Ramdev gali, Takhatgarh, Pali, Rajasthan</span>
      </div>

      <div id="date_section" style="height:40px;">
        <img style="width:35px; margin-right:7px;" src="{% static 'image/birthday-icon.png'%}" alt="hello">
        <span id="profile_date"> 21/07/1998</span>
      </div>

      <div id="note_section" style="height:40px;">
        <img style="width:35px; margin-right:7px;" src="{% static 'image/note-icon.png'%}" alt="hello">
        <span id="profile_note"> Hello, kamleshs</span>
      </div>

    </div>
  </td>
</tr>
    </table>
</div>


<!--profile page end-->



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  
    <script src="{% static 'js/form_function.js'%}"></script>
    <script src="{% static 'js/button.js'%}"></script>
    
    <script>
      

     </script>
  </body>
</html>